.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid rgb(255 165 0 / 40%);
  padding: 0 10px;
  margin-bottom: 10px;
}

.header-container.space-between {
  justify-content: space-between;
}

.header-return-btn {
  align-self: center;
}
